@model embezzlement.ViewModels.EmbezzlementViewModel

<div class="form-group">
    <label>Item</label>
    <input asp-for="Item.ItemName" class="form-control" readonly />
</div>

<div class="form-group">
    <label>User</label>
    <input asp-for="AppUser.UserName" class="form-control" readonly />
</div>

<div class="form-group">
    <label>Handover Date</label>
    <input asp-for="HandoverDate" type="date" class="form-control" />
</div>

<div class="form-group">
    <label>Return Time</label>
    <input asp-for="ReturnTime" type="date" class="form-control" />
</div>

<button type="submit" class="btn btn-success mt-3">Save</button>
<a asp-action="Index" class="btn btn-secondary mt-3">Cancel</a>
