@model embezzlement.ViewModels.EmbezzlementViewModel

@{
    ViewData["Title"] = "Edit Embezzlement";
}

<h2>Edit Embezzlement</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Item.ItemId" />
    @Html.Partial("_Form")
</form>
